<template>
  <v-card class="mb-12 set-overflow set-overflow pa-4" color="white lighten-1" height="400px">
    <v-text-field v-model="compName" label="Name" readonly dense outlined></v-text-field>
    <v-text-field v-model="compUrl" @blur="updateObj" label="Url" :rules="[rules.required]" :error-messages="hasError ? 'Invalid Url': ''" :error="hasError" dense outlined></v-text-field>
  </v-card>
</template>

<script>
import { mapGetters, mapMutations } from "vuex"

export default {
    props: {
        hasError: {type: Boolean, default: false},
    },
  data() {
    return {
      localValues: {
        url: ""
      },
      rules: {
          required: value => !!value 
        },
    };
  },
  computed: {
    ...mapGetters(['getWizzardObject']),
    compName() {
      let name = this.getWizzardObject.feedName + " - " + "for customer: " + this.getWizzardObject.customerName
      return name
    },
    compUrl: {
      get() {
        return this.getWizzardObject.url || this.localValues.url
      },
      set(newVal) {
        this.localValues.url = newVal
      }
    }
  },
  methods: {
    ...mapMutations(["changeWizzardValues", "addWizzardSchema", "updateWizzard"]),
    updateObj(){
      this.$store.commit('updateWizzard', this.localValues)
    },
  },
};
</script>

<style lang="scss" scoped>
.set-overflow {
  overflow: auto;
}
</style>