<template>
  <v-card class="mb-12 set-overflow pa-4" color="white lighten-1" height="400px">
    <v-text-field v-model="compFeedName" @blur="updateObj" label="Name" :error="hasError" :rules="[rules.required]" 
 dense outlined></v-text-field>
    <v-select  item-value="name" item-text="name"
      @blur="updateObj"
      :rules="[rules.required]" 
      :error="hasSelectedError"
      v-model="compCustomerName"
      dense
      :items="items"
      label="Choose Customer"
      outlined
    ></v-select>
    <v-textarea
    @blur="updateObj"
      v-model="compDescription"
      class
      outlined
      label="Description"
      :rows="rows"
      style="width: 250px"
    ></v-textarea>
  </v-card>
</template>

<script>
import { uuid } from 'vue-uuid';
import { customerItems } from "../consts.js";
import { mapMutations, mapGetters } from "vuex"
export default {
  props: {
      hasError: {type: Boolean, default: false},
      hasSelectedError: { type: Boolean, default: false}
  },
  data() {
    return {
      defaultSelected: {name: 'Customer B'},
      localValues: {
        customerId: uuid.v1(),
        customerName: "",
        feedName: "",
        description: "",
      },
      rows: 6,
      items: customerItems,
      rules: {
          required: value => !!value
        },
    };
  },
  computed: {
    ...mapGetters(["getWizzardObject"]),
    compFeedName: {
      get() {
        return this.getWizzardObject.feedName || this.localValues.feedName
      },
      set(value) {
        this.localValues.feedName = value
      }
    },
compCustomerName: {
      get() {
        return this.getWizzardObject.customerName || this.localValues.customerName
      },
      set(value) {
        this.localValues.customerName = value
      }
    },
    compDescription: {
      get() {
        return this.getWizzardObject.description || this.localValues.description
      },
      set(value) {
        this.localValues.description = value
      }
    },
  },
  methods: {
    ...mapMutations(["updateWizzard"]),
    updateObj(){
      this.$store.commit('updateWizzard', this.localValues)
    },
  },
};
</script>

<style lang="scss" scoped>
.set-overflow {
  overflow: auto;
}
</style>