<template>
  <v-card class="mb-12 set-overflow pa-4" color="white lighten-1" height="400px">
    <div v-if="shemaNotValid" class="set-color">Invalid Schema</div>
    <div class="" v-for="(property, value) in filtredObject" :key="`id-${property}-${value}`">
      <span v-if="typeof property !== 'object'">{{value + ': ' + property}}</span>
      <div v-else >
        <span>Schema: {</span>
        <div class="ml-4" v-for="(property, value) in property[0]" :key="`key-${property}-${value}`">{{value + ': ' + property}}</div>
        <span>}</span>
      </div>
    </div>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex"
export default {
  props: {
    shemaNotValid: {type: Boolean, defaul: false}
  },
  data() {
    return {
    };
  },
  computed: {
    ...mapGetters(["getWizzardObject"]),
    filtredObject() {
      let result
      if (this.getWizzardObject.feedName) {
        result = this.getWizzardObject
      }
      return result
    }
  },
};
</script>

<style lang="scss" scoped>
.set-overflow {
  overflow: auto;
}
.set-color {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 16;
  font-weight: 600;
}
</style>