<template>
  <div class="row">
    <div class="col-4">
      <h3>Feed</h3>
      <draggable class="list-group" :list="firstList" group="people" @change="log">
        <v-text-field
          @blur="updateFirstList($event, item)"
          :value="item.value"
          v-for="item in firstList"
          :key="item.id"
          :label="item.name"
          dense
          outlined
        ></v-text-field>
      </draggable>
    </div>

    <div class="col-4">
      <h3>Schema</h3>
      <draggable class="list-group" :list="list2" group="people" @change="log">
        <div
          class="list-group-item elevation-2"
          v-for="(element, index) in list2"
          :key="index"
        >{{ element.name }} {{ element.value }}</div>
      </draggable>
    </div>
    <div class="col-4 schema-style">
      <div class="center-items-display" v-for="item in schema" :key="item.id">
        <v-icon class="mr-1" small v-if="item.required">mdi-star-circle</v-icon>
        <span class="set-text" :class="setActiveClass(item)">
          {{item.name}}
          <v-icon v-if="setActiveClass(item)" color="green">mdi-check</v-icon>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
import draggable from "vuedraggable";
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "mapStep",
  components: {
    draggable
  },
  props: {
    mapSchema: { type: Boolean, default: false },
    saveFeed: { type: Boolean, default: false }
  },
  watch: {
    mapSchema: {
      handler(newV) {
        if (newV) {
          let id = 0;
          for (let property in this.getWizzardObject.schema[0]) {
            id++;
            let newObj = {
              name: property,
              value: this.getWizzardObject.schema[0][property],
              id: id
            };
            this.firstList.push(newObj);
          }
        }
      }
    },
    saveFeed: {
      handler(newV) {
        if (newV) {
          let newObj = {};
          let newSchema = [];
          this.list2.forEach(obj => {
            newObj[obj.name] = obj.value;
          });
          newSchema.push(newObj);
          this.$store.commit("updateWizzardSchema", newSchema);
        }
      }
    }
  },
  data() {
    return {
      newValue: "",
      firstList: [],
      schema: [
        {
          name: "ProductId",
          required: true
        },
        {
          name: "ProductName",
          required: true
        },
        {
          name: "ProductDescription",
          required: false
        },
        {
          name: "InStock",
          required: false
        },
        {
          name: "Price",
          required: true
        },
        {
          name: "OnSalePrice",
          required: false
        },
        {
          name: "RetailPrice",
          required: false
        },
        {
          name: "LastDeleveryDate",
          required: false
        },
        {
          name: "BrandId",
          required: false
        },
        {
          name: "BrandName",
          required: false
        },
        {
          name: "ProductUrl",
          required: true
        },
        {
          name: "ImageUrl",
          required: false
        }
      ],

      list2: []
    };
  },
  computed: {
    ...mapGetters(["getWizzardObject"])
  },
  methods: {
    ...mapMutations(["updateWizzardSchema"]),
    updateFirstList(evt) {
      this.newValue = evt.srcElement.value
    },
    setActiveClass(item) {
      let isActive = "";
      if (this.list2.find(elem => elem.name === item.name)) {
        isActive = "is-active";
      }
      return isActive;
    },
    log: function(evt) {
      if (evt.added) {
        evt.added.element.value = this.newValue
      }
      window.console.log("evt", evt);
    }
  }
};
</script>
<style lang="scss" scoped>
.schema-style {
  display: flex;
  flex-direction: column;
}
.center-items-display {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.is-active {
  color: green;
}
.set-text {
  font-weight: 500;
}
.list-group-item {
  font-weight: 500;
  font-size: 12px;
  height: 28px;
  margin-bottom: 4px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.list-group {
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
</style>