<template>
<div>
  <v-data-table :headers="headers" :items="items" :items-per-page="10"  class="set-cursor elevation-1">
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2 table-icon"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
      class="table-icon"
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
  </v-data-table>
  <v-dialog v-model="confirm" width="300">
    <v-card>
        <v-card-title class="headline">Confirmation</v-card-title>

        <v-card-text>
          Are you sure you whant to delete this feed
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="black"
            text
            @click="confirm = false"
          >
            No
          </v-btn>

          <v-btn
            color="primary"
            text
            @click="removeItem()"
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
  </v-dialog>
</div>
</template>


<script>
import { mapGetters, mapMutations } from "vuex"
import { tabelHeaders, tableItems } from "./consts.js";
import { uuid } from 'vue-uuid';
export default {
  data() {
    return {
      indexToDelete: null,
      confirm: false,
      test: uuid.v1(),
      headers: tabelHeaders,
      items: tableItems
    };
  },
  computed: {
    ...mapGetters(['getWizzardObject'])
  },
  methods: {
    ...mapMutations(["updateWizzard", "setIsUpdate"]),
    editItem(item) {
      this.$store.commit("setIsUpdate", true)
      this.$emit('editWizzard', item)
    },
    removeItem() {
      this.items.splice(this.indexToDelete, 1)
      this.confirm = false
    },
    deleteItem (item) {
        this.indexToDelete = this.items.indexOf(item)
        this.confirm = true
      },
  },
};
</script>
<style lang="scss" scoped>
.table-icon {
  padding: 4px;
  &:hover {
    opacity: 0.6;
  }
}
</style>