<template>
  <v-dialog v-model="dialog" width="700">
    <v-stepper v-model="e1">
      <v-stepper-header>
        <template v-for="(item,index) in steps">
          <v-stepper-step
            :key="`${index}-step`"
            :complete="e1 > item"
            :step="index+1"
            editable
          > {{ item }}</v-stepper-step>
          <v-divider v-if="item !== steps" :key="index"></v-divider>
        </template>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content v-for="(item,index) in steps" :key="`${item}-content`" :step="index+1">
          <create-step
            v-if="index+1 === 1"
            :hasError="hasError"
            :hasSelectedError="hasSelectedError"
          />
          <add-url-step v-else-if="index+1 === 2" :hasError="hasError"  />
          <map-step v-else-if="index+1 === 3" :mapSchema="mapSchema" :saveFeed="saveFeed"/>
          <last-step v-else-if="index+1 === 4" :shemaNotValid="shemaNotValid" />
          <v-btn v-if="index+1 !== 4" class="mr-2" color="primary" @click="nextStep(index+1)">Next</v-btn>
          <v-btn v-else class="mr-2" color="primary"  @click="finish()">Finish</v-btn>
          <v-btn class="mr-2" v-if="index+1 > 1" color="primary" @click="back(index+1)">Back</v-btn>
          <v-btn text @click="setDialog()">Cancel</v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-dialog>
</template>

<script>
import { mapGetters } from "vuex";
import { tableItems } from "./consts.js";
import CreateStep from "./IntegrationWizzardContent/CreateStep.vue";
import AddUrlStep from "./IntegrationWizzardContent/AddUrlStep.vue";
import MapStep from "./IntegrationWizzardContent/MapStep.vue";
import LastStep from "./IntegrationWizzardContent/LastStep.vue";
export default {
  components: {
    CreateStep,
    AddUrlStep,
    MapStep,
    LastStep
  },
  props: {
    dialog: { type: Boolean, default: true }
  },
  data() {
    return {
      shemaNotValid: false,
      saveFeed: false,
      mapSchema: false,
      hasError: false,
      hasSelectedError: false,
      compName: "",
      createSendInput: false,
      addUrlSendInput: false,
      mapSendInput: false,
      lastSendInput: false,
      steps: ['Create new integration', 'Add url', 'Map fields', 'Finish schema'],
      e1: 1
    };
  },
  computed: {
    ...mapGetters(["getWizzardObject", "getIsUpdate", "getCurrentFeed"])
  },
  methods: {
    setDialog() {
      this.$emit("closeDialog", true);
    },
    finish() {
      let schema = this.getWizzardObject.schema[0]
      if (!schema.ProductId && !schema.ProductUrl && !schema.Price && !schema.ProductName) {
        this.shemaNotValid = true
        return
      } else {
        this.shemaNotValid = false
      }
      let localObj = {
          name: this.getWizzardObject.feedName,
          customer: this.getWizzardObject.customerName,
          status: this.getCurrentFeed.status || 'imported',
        }
      let localTableItems = tableItems
      if (this.getIsUpdate) {
        localTableItems.forEach((elem,i) => {
          if (elem.name === this.getCurrentFeed.name) {
            tableItems.splice(i, 1, localObj)
          }
        })
      } else {
        tableItems.push(localObj)
      }
      this.$emit("closeDialog", true);
    },
    nextStep(n) {
      /* eslint-disable */
      let regexExp = /(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})/gi;
      let validator = new RegExp(regexExp);

      if (n === 1) {
        if (!this.getWizzardObject.feedName) {
          this.hasError = true;
          return;
        } else if (!this.getWizzardObject.customerName) {
          this.hasSelectedError = true;
          return;
        } else {
          this.hasError = false;
          this.hasSelectedError = false;
        }
      }
      if (n === 2) {
        this.mapSchema = true
        if (
          !this.getWizzardObject.url ||
          !validator.test(this.getWizzardObject.url)
        ) {
          this.hasError = true;
          return;
        } else {
          this.hasError = false;
        }
      }
      if (n === 3) {
        this.saveFeed = true
      }
      if (n === this.steps) {
        this.e1 = 1;
      } else {
        this.e1 = n + 1;
      }
    },
    back(n) {
      this.e1 = n - 1;
    }
  }
};
</script>

<style lang="scss" scoped>
.v-sheet {
  box-shadow: none;
}
</style>