<template>
  <v-app>
    <v-toolbar dense>
      <img class="mt-3 mr-3" :src="require('@/assets/logo.png')" height="60" />
      <v-toolbar-items>
        <v-btn text @click="isProfile = false">Integrations</v-btn>
        <v-btn text @click="isProfile = true">Profile</v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-hover>
        <template v-slot="{ hover }">
          <v-btn text :class="`elevation-${hover ? 6 : 2}`" class="transition-swing">Logout</v-btn>
        </template>
      </v-hover>
    </v-toolbar>
    <v-content class="pa-4 content-container">
      <div class="mb-8 inside-header">
        <div class="header-first-container">
          <img class="my-1 mx-3" :src="require('@/assets/logo.svg')" height="60" />
          <span class="inside-header-text">{{ isProfile ? 'Profile' : 'Integrations'}}</span>
        </div>
        <div class="header-first-container">
          <v-btn
            @mouseenter="showAddLabel(true)"
            @mouseleave="showAddLabel(false)"
            class="mx-2"
            @click="createNew()"
            fab
            dark
            color="red darken-4"
          >
            <v-icon dark>mdi-plus</v-icon>
          </v-btn>
          <span :class="showLabel ? 'set-opacity': 'no-opacity'">Create New Integrations</span>
        </div>
      </div>
      <integration-table @editWizzard="editWizzard($event)"/>
    </v-content>
    <integration-wizzard
      :dialog="dialog"
      v-if="createIntegration"
      @closeDialog="dialog = false; createIntegration = false"
    />
  </v-app>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import { feedsFromDB } from "./components/consts.js"
import IntegrationWizzard from "./components/IntegrationWizzard.vue";
import IntegrationTable from "./components/IntegrationTable.vue";
export default {
  name: "App",

  components: {
    IntegrationWizzard,
    IntegrationTable
  },
  data() {
    return {
      initialWizzard: {},
      dialog: true,
      createIntegration: false,
      showLabel: false,
      isProfile: false,
      isIntegration: true
    };
  },
  computed: {
    ...mapGetters(["getWizzardObject"])
  },
  methods: {
    ...mapMutations(["updateWizzard", "setCurrentFeed"]),
    showAddLabel(show) {
      this.showLabel = show;
    },
    setIsProfile() {
      this.isProfile = true;
    },
    createNew() {
      this.$store.commit("setIsUpdate", false)
      this.$store.commit("updateWizzard", this.initialWizzard)
      this.createIntegration = true;
      this.dialog = true;
    },
    editWizzard(data) {
      this.$store.commit("setCurrentFeed", data)
      this.$store.commit("setIsUpdate", true)
      let feed = feedsFromDB.find(feed => feed.feedName === data.name)
      this.$store.commit("updateWizzard", feed)
      this.createIntegration = true;
      this.dialog = true;
    }
  },
  created() {
    this.initialWizzard = JSON.parse(JSON.stringify(this.getWizzardObject)) 
  }
};
</script>
<style lang="scss" scoped>
.content-container {
  margin: 8px 64px;
}
::v-deep .header-bar {
  .v-toolbar__content {
    border: 2px solid;
    height: 60px;
  }
}
.v-sheet {
  box-shadow: none;
}
.header-first-container {
  display: flex;
  align-items: center;
}
.inside-header {
  height: 68px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.set-opacity {
  opacity: 1;
  transition: 1s;
}
.no-opacity {
  opacity: 0;
  transition: 0.5s;
}
.inside-header-text {
  font-size: 36px;
  font-weight: 600;
}
</style>
